NODE_ENV=development
JWT_SECRET=changeme-secret
JWT_REFRESH_SECRET=changeme-refresh-secret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=fiap
POSTGRES_PASSWORD=fiap
POSTGRES_DB=fiapx
REDIS_URL=redis://redis:6379
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT=http://ministack:4566
RAW_VIDEOS_BUCKET=raw-videos
PROCESSED_ZIPS_BUCKET=processed-zips
VIDEO_PROCESSING_QUEUE_URL=http://ministack:4566/000000000000/video-processing
VIDEO_NOTIFICATION_QUEUE_URL=http://ministack:4566/000000000000/video-notification
VIDEO_EVENTS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:video-domain-events
OTEL_SERVICE_NAME=fiapx-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
MAILPIT_HOST=mailpit
MAILPIT_PORT=1025
AWS_MAX_ATTEMPTS=3
GATEWAY_RATE_LIMIT_MAX=1200
GATEWAY_RATE_LIMIT_WINDOW=1 minute
GATEWAY_UPSTREAM_TIMEOUT_MS=15000
GATEWAY_UPSTREAM_RETRIES=1
IDENTITY_RATE_LIMIT_MAX=600
IDENTITY_RATE_LIMIT_WINDOW=1 minute
VIDEO_RATE_LIMIT_MAX=300
VIDEO_RATE_LIMIT_WINDOW=1 minute
VIDEO_MAX_UPLOAD_BYTES=1073741824
STATUS_RATE_LIMIT_MAX=1200
STATUS_RATE_LIMIT_WINDOW=1 minute
PROCESSING_RATE_LIMIT_MAX=1200
PROCESSING_RATE_LIMIT_WINDOW=1 minute
PROCESSING_WORKER_CONCURRENCY=4
PROCESSING_MAX_MESSAGES_PER_POLL=4
PROCESSING_VISIBILITY_TIMEOUT_SECONDS=120
NOTIFICATION_RATE_LIMIT_MAX=1200
NOTIFICATION_RATE_LIMIT_WINDOW=1 minute
NOTIFICATION_WORKER_CONCURRENCY=5
NOTIFICATION_MAX_MESSAGES_PER_POLL=5
